/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primary-color: #CE7561;
$bg-light: #fff2f1;
$text-color: #A88281;
$link-color: #88398a;
$font-family: 'Space Mono', monospace;

/*-- scss:rules --*/

.reveal {
  font-family: $font-family;
  line-height: 1.6;
}

.reveal p,
.reveal li {
  font-size: 0.8em;
  line-height: 1.2;
  color: $text-color;
}

