/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// fonts
$rose-bg: #fff2f1;
$rose-text: #A88281;
$rose-title: #CE7561;
$link-color: #88398a;

$tea-bg: #ECFDF1;
$tea-text: #446a6f;
$tea-title: #0B4F6C;

$champagne-bg: #fffae7;
$champagne-text: #a7a18b;
$champagne-title: #9f7c6a;

$font-family: 'Space Mono', monospace;

/*-- scss:rules --*/

.reveal {
  font-family: $font-family;
  line-height: 1.5em;
}

.reveal ul li {
  line-height: 1.8em; 
  margin-bottom: 0.5em;
}

.no-incremental li,
.no-incremental .fragment {
  animation: none !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.reveal .slide-content {
  padding-top: 110px;
}

.reveal .titlerose {
  color: $rose-title;
  font-weight: bold;
  position: absolute;
  top: -10px;
}

.reveal .titletea {
  color: $tea-title;
  font-weight: bold;
  position: absolute;
  top: -20px;
}

.reveal .titlechampagne {
  color: $champagne-title;
  font-weight: bold;
  position: absolute;
  top: -20px;
}

.reveal .rose-theme {
  background: $rose-bg;
  color: $rose-text;
  margin-right: 500px;
  font-size: 1em;
}

.reveal .tea-theme {
  background: $tea-bg;
  color: $tea-text;
  margin-right: 500px;
  position: absolute;
  font-size: 1em;
}

.reveal .champagne-theme {
  background: $champagne-bg;
  color: $champagne-text;
  margin-right: 500px;
  position: absolute;
  font-size: 1em;
}

.reveal .rose-theme footer,
.reveal .tea-theme footer,
.reveal .champagne-theme footer {
  color: $link-color;
}

.reveal .centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-width: 100%;
}

.reveal .top-aligned {
  justify-content: flex-start;
}

.reveal .left {
  text-align: left;
}

.reveal .right {
  text-align: right;
}

.reveal .small {
  font-size: 0.8em;
}

.reveal .midi {
  font-size: 1.8em;
}

.reveal .miditext {
  font-size: 1.2em;
}

.reveal .large {
  font-size: 2.3em;
}